@model IList<Item>

<div class="text-center">
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name</li>
        }
    </ul>
    <div>Count: @Model.Count</div>
    <form method="post" asp-action="PostItem" asp-controller="Home">
        <input type="submit" value="Add new"/>
    </form>
</div>
