<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/*.min.css" />
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
</head>
<body class="m-1 p-1">
    @if (User?.IsInRole("Admins") ?? false)
    {
        <a asp-action="Index" asp-controller="Account" class="btn btn-secondary" style="float: left">Список пользователей</a>
    }
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <a asp-action="Logout" asp-controller="Account" class="btn btn-secondary" style="float: right">Выйти</a>
    }
    <div>
        @RenderBody()
    </div>
</body>
</html>
