<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" asp-href-include="~/lib/bootstrap/dist/css/*min.css" />
    <title>@ViewBag.Title</title>
</head>
<body class="m-1 p-1">
    <div>
        @RenderBody()
    </div>
</body>
</html>
