
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>Id = @ViewBag.Id</p>
    <div ancor>
        <a asp-action="Index" asp-controller="Home" asp-route-id="1">Ancor</a>
    </div>
</body>
</html>
