
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="GetPhysicalFile" class="btn btn-primary">PhysicalFileResult</a>
<a asp-action="GetBytes" class="btn btn-primary">FileContentResult</a>
<a asp-action="GetFileStream" class="btn btn-primary">FileStreamResult</a>
<a asp-action="GetVirtualFile" class="btn btn-primary">VirtualFileResult from wwwroot</a>

